<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div>
    <div class="md-toolbar-tools search-bar">
      <input mat-form-field type="text" formControlName="search" required placeholder="Search "/>
    </div>
    <div>
        <input mat-form-field type="text" formControlName="year" placeholder="Year"/>
    </div>
    <div>
      <button type="submit" style="visibility:hidden">Submit</button>
    </div>
  </div>
</form>
