<div id="movieContainer" *ngIf="(movie$ | async) as movie">

<h2>{{movie.title}}</h2>
  <div class="truncateContainer">
    <span class="truncate">{{movie.overview}}</span>
  </div>
  <div>
    <p>Release date: {{movie.release_date | date:'MM/dd/yyyy'}}</p>
  </div>
  <img src="{{posterUrl(movie.poster_path)}}"/>

  <img id="movieBg" src="{{backgroundUrl(movie.backdrop_path)}}"/>
  <div class="companyContainer">
    <h4>Production Companies</h4>
    <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile *ngFor="let company of movie.production_companies">
      <div >
          <img *ngIf="company.logo_path" class="companyLogo" src="{{logoUrl(company.logo_path)}}"/>
        <span class="companyName">{{company.name}}</span>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  </div>

</div>
