

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncateContainer {
  //width:100%;
  width:500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncateContainer:hover{
  overflow:initial;
  white-space: normal;
}
.truncate:hover{
  //overflow: initial;
}

.companyContainer {
  width: 500px;
}
.companyName {
  float:left;
}
.companyLogo {
  max-width: 100%;
  height: auto;
  clear:both;
  margin: auto;
}
