<div class="resultContainer" [hidden]="!hasResults">

<mat-paginator hidePageSize="true" pageSize="20"></mat-paginator>

<mat-table class="mat-elevation-z8" [dataSource]="dataSource" >

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell class="description-cell"
              *matCellDef="let movie">{{movie.id}}</mat-cell>

  </ng-container>
  <ng-container matColumnDef="poster">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell class="description-cell"
              *matCellDef="let movie"><img src="{{posterUrl(movie.poster_path)}}"/></mat-cell>

  </ng-container>

  <ng-container matColumnDef="originalTitle">
    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
    <mat-cell class="duration-cell"
              *matCellDef="let movie">{{movie.original_title}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns" [routerLink]="'/details/movie/' + row.id"></mat-row>

</mat-table>

<mat-paginator hidePageSize="true"  pageSize="20"></mat-paginator>

</div>

<div [hidden]="hasResults">
  There are no results!  Please search for something.
</div>
